body{
  padding:0;
  margin:0;
}

.wrapper {
  position: relative;
}

.container {
  position: absolute;
  width:100%;

}

#toggle {
	right:0;
	display:block;
	position:fixed;
    height:3em;
	width:9em;
	border-radius: 1em;
	font-weight: bold;
	margin-top:-9em;
	z-index:301;
}


section {
	margin: 0 auto;
}

header {
  position: relative;
  width:100%;
  height:8em;
  top:0;
  background-color:#000;
  color:#fff;
  text-align:left;
  padding-bottom:5px;
  z-index:100;
}

header ul{
  margin-left:27%;
}

header li{
	display:inline-block;
	margin-right:2em;
	font-size:1.2em;
	border-bottom-width:1px;
	border-bottom-style:transparent;
	border-bottom-color:white;
}

header li:hover{
  cursor:pointer;
}

header li:hover{
 border-bottom-style:solid;
}

h2 {
  display:inline-block;
  margin-left:40%;
  padding:0;
}



.items{

  display:inline-block;
  width:250px;
  height:26em;
  margin-left:2em;
  margin-right:2em;
  margin-bottom:3em;
}

.items:hover{
  transform:scale(1.1);
  box-shadow:0 6px 5px 1px gray;
}


.items p:nth-of-type(1){
    font-weight:bold;
}

#itemList{
	width:100%;
	max-height:100%;
	position:relative;
	top:0;

}

.item-list {
	position:relative;
	background-color:white;
	margin-top:5em;
	color:black;
	width:100%;
}

.item-list > h2{
  display:block;
  margin-top:2em;
  margin-bottom:2em;
}

.item-list .description {

	position: relative;
	margin-top: -1em;
	border:1px solid white;
	display:inline-block;
	width:16em;
}

.qty {
	position: relative;
	left:1.5em;
	top:5px;
	width:2.9em;
	height: 1em;
}

.priceItem {
	position: relative;
	top: 5px; 
	left:7em;
	height:2em;
	display: inline-block;
    font-weight:bold;
}

.addToCart {
	position:relative;
	left:6em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
}

#shoppingCart {
	position:relative;
	background-color:white;
	margin-top:6em;
	color:black;
	width:80%;
	display:none;
	opacity:1;
	z-index:101;
}

#ShoppingCartItems{
	position:relative;
	width:80%;
}

#ShoppingCartItems h2{
	margin-bottom:5em;
}

#ShoppingCartItems > .itemDiv img{
	position:relative;
	display:block;
	margin-right:2em;
	margin-bottom:2em;
	z-index:10;
}

#ShoppingCartItems > .itemDiv p:nth-of-type(1){
    display:block;
    font-weight:bold;
    position:relative;
    width:5em;
    height:3em;
    top:-1em;
}

.itemDiv p:nth-of-type(2){
	display:block;
	position:relative;
	width:9em;
	height:9em;
	margin-top:-3em;
}

.itemDiv{
	display:block;
	position:relative;
	width:21em;
	margin:auto;
}

.reviewInfo{
	display:block;
	margin-top:-3em;
}

.reviewInfo .qty{
	left:0;
	font-size:1.1em;
}

.reviewInfo .coupon {
	position: relative;
		left:-11em;
		top:3.5em;
		height: 2em;
	display: inline-block;

}

.reviewInfo .button-top {
	display:inline-block;
	position:relative;
	top:0em;
	left:0.5em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
}	

.reviewInfo .button-bottom {
	display:none;
	position:relative;
	left:0em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
}

.reviewInfo .priceCart{
	left:9.5em;
	margin-top:-0.5em;
	font-size:1.2em;
}

.reviewInfo .total{
	position:relative;
	margin-left:0em;
	top:-6.25em;
	font-size:1.05em;
	left:14em;
	display: inline-block;
	width:5em;
	height: 2em;
	border-color:transparent;
}


.reviewInfo hr{
	position:relative;
	margin-top:2em;
	bottom:3em;
}


#summary {
    font-family:sans-serif;
	position:static;
    left:80%;
	margin-top:1em;
	margin-bottom:3em;
	bottom:30em;
	width:25em;
	height:40em;
	background-color:white;
	padding-bottom:4em;
	padding-right:1em;
    box-shadow:0 3px 4px 3px gray;
}

#summary label{
	margin-left:2em;
}

#summary p{
	margin-left:2em;
}

#summary p:nth-of-type(1), #summary p:nth-of-type(2){
	font-size:1em;
}

#summary p:nth-of-type(3){
	position:relative;
	top:1em;
	margin-left:1em;
	margin-bottom:3em;
	font-size:2em;
}


#summary > h2 {

	padding-bottom:2em;
}

#summary label:nth-of-type(5){
	margin-left:2em;
}

.sub {
	clear:both;
	display: inline-block;
	position:relative;
	float:right;
	text-align:left;
	font-size:medium;
	width:3em;
	margin-top:-2px;
	margin-bottom:2em;
	background-color:white;
	border-color:transparent;
}

.summary-labels {
	font-size: large;
	display: inline-block;
	margin-bottom:2em;
}


.line {
	margin-left:2em;
}


.priceCart {
	position: relative;
	left:9em;
	height:2em;
	display: inline-block;

}


.promo {
	position: relative;
	top: -2.5em;
	width: 15em;
	left:3em;
}


#closeLabel{
	position:relative;
	left:19em;
	top:-19em;
}

.button-left{
	clear:both;
	float:left;
	position: relative;
	top:2em;
	height:3em;
	border-radius: 1em;
	margin-bottom:2em;
	color:white;
	background-color:darkslateblue;
}

.button-right{
	position:relative;
	top:2em;
	height:3em;
	border-radius: 1em;
	float:right;
	color:white;
	background-color:darkslateblue;
}


.update {
	position: relative;
	top:-3em;
	height:3em;
	left:0em;
	padding-left:1em;
	padding-right:1em;
	border-radius: 1em;
	float:right;
	color:white;
	background-color:darkslateblue;
}


a[class="button"] {
  display: block;
  position:relative;
  top:-5em;
  left:-128em;
  float:right;
  margin-bottom:2%;
  width:7%;
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

input[type="button"],.qty, .promo, .coupon, button, #closeLabel{
	cursor:pointer;
}

@media (min-width:601px) and (max-width:1024px){
  header{
 	background-color:#2E6444;
  	color:white;
  }	

  header h2{
  	margin-left:30%;
  }

  header ul{
  	position:relative;
  	margin-left:10%;
  }

  header ul li{
  	margin-right:1em;
  }

    #ShoppingCartItems h2{
      position:relative;
	  left: -1em;
}

	.itemDiv{
	  position:relative;
	  left:0em;
	}



}


@media (min-width:361px) and (max-width:600px){
  header{
  	height:10em;
  	background-color:teal;
  	color:white;
  	width:100vw;
  }

  header h2{
  	margin-left:3%;
  }

    header ul{
  	  position:relative;
  	  margin-left:0;
  }

  header ul li{
  	display:inline;
  	width:5em;
  	margin-right:1em;
  }

  #toggle{
  	margin-top:-11em;
  	left:17em;
  }

  #shoppingCart{
  	width:90%;
  	margin-left:0em;
  }
  #summary{
  	left:0;
  }

  #ShoppingCartItems h2{
	margin-left: 3em;
}

}



@media (max-width:360px) and (min-height:200px) {
  header{
  	background-color:blue;
  	color:white;
  	width:100vw;  	
  }

  header h2{
  	margin-top:3em;
  	margin-left:20%;
  }

  header ul{
  	display:none;
  }

  #toggle{
  	margin-top:-9em;
  	left:15em;
  }


  #shoppingCart{
  	width:40%;
  	margin-left:0em;
  }

  #closeLabel{
	left:17em;
}


  #summary{
  	left:0;
  	width:100vw;
  }

  #ShoppingCartItems h2{
	margin-left: 3em;
	width:10em;
}


}









