body{
  padding:0;
  margin:0;
}

.wrapper {
  position: relative;
}

.container {
  position: absolute;
  width:100%;

}

header {
  position: relative;
  width:100%;
  height:8em;
  top:0;
  background-color:#000;
  color:#fff;
  text-align:left;
  padding-bottom:5px;
  z-index:100;
}

header ul{
  margin-left:27%;
}

header li{
	display:inline-block;
	margin-right:2em;
	font-size:1.2em;
	border-bottom-width:1px;
	border-bottom-style:transparent;
	border-bottom-color:white;
}

header li:hover{
  cursor:pointer;
}

header li:hover{
 border-bottom-style:solid;
}

h2 {
  display:inline-block;
  margin-left:40%;
  padding:0;
}



.items{

  display:inline-block;
  width:250px;
  height:26em;
  margin-left:2em;
  margin-right:2em;
  margin-bottom:3em;
}

.items:hover{
  transform:scale(1.1);
  box-shadow:0 6px 5px 1px gray;
}


#summary {
    font-family:sans-serif;
	position:static;
    left:80%;
	margin-top:1em;
	margin-bottom:3em;
	bottom:30em;
	width:17em;
	height:38em;
	background-color:white;
	padding-bottom:4em;
    box-shadow:0 3px 4px 3px gray;
}

#summary p:nth-of-type(1), #summary p:nth-of-type(2){
	font-size:1em;
}

#summary p:nth-of-type(3){
	position:relative;
	top:1em;
	bottom:1em;
	font-size:2em;
}


#summary > h2 {

	padding-bottom:2em;
}

.sub {
	clear:both;
	display: inline-block;
	position:relative;
	float:right;
	text-align:left;
	font-size:medium;
	width:3em;
	margin-top:-2px;
	margin-bottom:2em;
	background-color:white;
	border-color:transparent;
}

.summary-labels {
	font-size: large;
	display: inline-block;
	margin-bottom:2em;
}


.line {
	margin-left:2em;
}

.button-left{
	clear:both;
	float:left;
	position: relative;
	top:2em;
	height:3em;
	border-radius: 1em;
	margin-bottom:2em;
	color:white;
	background-color:darkslateblue;
}

.button-right{
	position:relative;
	top:2em;
	height:3em;
	border-radius: 1em;
	float:right;
	color:white;
	background-color:darkslateblue;
}

.update {
	position: relative;
	top:-3em;
	height:3em;
	border-radius: 1em;
	float:right;
	color:white;
	background-color:darkslateblue;
}

#itemList{
	width:100%;
	max-height:100%;
	position:relative;
	top:0;

}

.item-list {
	position:relative;
	background-color:white;
	margin-top:5em;
	margin-left:8%;
	color:black;
	width:100%;
	max-height:100%;

}

.item-list > h2{
  display:block;
  margin-top:2em;
  margin-bottom:2em;
}


#shoppingCart {
	position:relative;
	background-color:white;
	margin-top:6em;
	color:black;
	width:80%;
	display:none;
	opacity:1;
	z-index:101;
}

#ShoppingCartItems{
	position:relative;
	width:80%;
}

#ShoppingCartItems h2{
	margin-bottom:5em;
}

#ShoppingCartItems > .itemDiv img{
	position:relative;
	display:block;
	margin-right:2em;
	margin-bottom:2em;
	z-index:10;
}

#ShoppingCartItems > .itemDiv p:nth-of-type(1){
    display:block;
    font-weight:bold;
    position:relative;
    width:5em;
    height:3em;
    top:-1em;
}

.itemDiv p:nth-of-type(2){
	display:block;
	position:relative;
	width:9em;
	height:9em;
	margin-bottom:2em;

}

.itemDiv{
	display:block;
	position:relative;
	width:21em;
	margin:auto;
}

.reviewInfo{
	display:block;
	margin-top:2em;
}

.reviewInfo .qty{
	left:0;
	font-size:1.1em;
}

.reviewInfo .button-top{
	position:relative;
	margin-left:-4em;
	margin-right:5em;
}

.reviewInfo .coupon{
	top:3.5em;
	left:-12em;
}

.reviewInfo .button-bottom{
	left:-12em;
}

.reviewInfo .priceCart{
	left:9.5em;
	margin-top:-0.5em;
	font-size:1.2em;
}

.reviewInfo .total{
	margin-left:0em;
	top:-6.25em;
	font-size:1.05em;
}

.reviewInfo hr{
	position:relative;
	margin-top:2em;
	bottom:3em;
}

#inCart:hover{
	transform:scale(1);
}


  #item{

	margin-right:12em;
}

#cartItem{
	margin-right:16.5em;
}


#item ~ li{

	margin-left:5em;

}

#cartItem ~ li {
	margin-left:2.3em;

}

img{
	float:left;
	display:block;
}

section {
	margin: 0 auto;
}

.description {

	position: relative;
	margin-top: -1em;
	border:1px solid white;
	display:inline-block;
	width:16em;
}

.items p:nth-of-type(1){
    font-weight:bold;
}

.qty {
	position: relative;
	left:1.5em;
	top:5px;
	width:2.9em;
	height: 1em;
}

.addToCart {
	position:relative;
	left:6em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
}

.addToCart:hover, input.qty:hover,
#toggle,.button-top,#closeLabel,
.coupon,.update,.button-left,.button-right,
.promo{
    cursor:pointer;
}

.howMany{
  position:relative;
  left:-2em;
}

.priceItem {
	position: relative;
	top: 5px; 
	left:7em;
	height:2em;
	display: inline-block;
    font-weight:bold;
}


.priceCart {
	position: relative;
	left:9em;
	height:2em;
	display: inline-block;

}

.coupon {
	position: relative;
		left:6em;
		height: 2em;
	display: inline-block;

}

.dollars {
	position: relative;
	left:11.5em;
	height: 2em;
	display:inline-block;

}

.total {
	position: relative;
	left:14em;
	display: inline-block;
	width:5em;
	height: 2em;
	border-color:transparent;

}


.button-bottom {
	display:none;
	position:relative;
	left:5.5em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
	}

.button-top {
	display:inline-block;
	position:relative;
	top:0em;
	left:-5.5em;
	height:3em;
	width:7em;
	border-radius: 1em;
	color:red;
	background-color:white;
	}	

.promo {
	position: relative;
	top: -2.5em;
	width: 15em;
}

#toggle {
	right:0;
	display:block;
	position:fixed;
    height:3em;
	width:9em;
	border-radius: 1em;
	font-weight: bold;
	margin-top:-5em;
	z-index:301;
}

#closeLabel{
	position:relative;
	left:19em;
	top:-14em;
}


input[value="update"]{
	position:relative;
    left:5em;
}

a[class="button"] {
  display: block;
  position:relative;
  top:-5em;
  left:-128em;
  float:right;
  margin-bottom:2%;
  width:7%;
  background-color: blue;
  border: none;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 15px;
  line-height: 30px;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media (min-width:601px) and (max-width:1024px){
  header{
 	background-color:#2E6444;
  	color:white;
  }	

  header h2{
  	margin-left:30%;
  }

  header ul{
  	position:relative;
  	margin-left:10%;
  }

  header ul li{
  	margin-right:1em;
  }


}


@media (min-width:361px) and (max-width:600px){
  header{
  	height:10em;
  	background-color:teal;
  	color:white;
  }

  header h2{
  	margin-left:3%;
  }

    header ul{
  	  position:relative;
  	  margin-left:0;
  }

  header ul li{
  	display:inline;
  	width:5em;
  	margin-right:1em;
  }


}



@media (max-width:360px) and (min-height:200px) {
  header{
  	background-color:blue;
  	color:white;
  }

  header h2{
  	margin-top:3em;
  	margin-left:20%;
  }

  header ul{
  	display:none;
  }

  #toggle{
  	margin-top:-9em;
  }

}









